* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
#btn{position: absolute; top: 10px; left: 10px;}
.main {
  background-image: url("robo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100vh;
}
.chat_box {
  margin: auto 300px auto auto;
  transform: translateY(40px);
  width: 400px;
  height: 90%;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  /* border: 2px solid black; */
}
.header {
  /* background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%); */
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0px 0px 4px rgb(131, 131, 131); */
  border-bottom: 1px solid white;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes cortana {
  0% {
    box-shadow: 0 0 0 8px #3e92d2, 0 0 0 16px #1f445f;
  }

  100% {
    box-shadow: 0 0 0 5px #3e92d2, 0 0 0 12px #1f445f;
  }
}

.cortana {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #3e92d2, 0 0 0 40px #1f445f;
  animation: cortana 1.5s infinite ease-in-out alternate;
  transition: 0.2s ease;
}

.cortana:hover {
  width: 25px;
  height: 25px;
}

.body {
  width: 100%;
  height: 78%;
  padding: 10px 15px;
  overflow-y: auto;
}
.body::-webkit-scrollbar {
  display: none;
}
.bottom {
  background-color: #fff;
  width: 100%;
  height: 8%;
  /* background: rgb(207, 136, 136); */
  background-color: rgb(10, 10, 10);
  border-top: 1px solid white;
  border-radius: 0 0 10px 10px;
  /* box-shadow: 0px 0px 4px rgb(131, 131, 131); */
}
.msg {
  padding: 8px 10px 8px 10px;
  margin: 5px;
  display: table;
  clear: both;
  max-width: 80%;
  color: white;
  /* box-shadow: unset 0px 0px 5px rgb(0, 0, 0); */
  /* box-shadow: inset 0 0 5px #ffffff; */
}

.user {
  float: right;
  border-radius: 15px 15px 0 15px;
  /* background-image: linear-gradient(315deg, #ff85f5 0%, #bb1dff 74%); */
  background-color: rgb(86, 101, 115);
}
.computer {
  float: left;
  border-radius: 15px 15px 15px 0;
  /* background-image: linear-gradient(315deg, #9397f7 0%, #db8bfd 74%); */
  background-color: rgb(10, 10, 10);
  border: 2px solid rgb(86, 101, 115);
}
#text {
  float: left;
  margin: 13px 0 8px 10px;
  width: 75%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(10, 10, 10);
  font-size: 15px;
  color: white;
}
#text:focus {
  background-color: rgb(26, 25, 25);
}

#voice {
  margin: 10px;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: green; */
  background-color: rgb(10, 10, 10);
  color: white;
}

#voice:hover {
  background-color: rgb(26, 25, 25);
}
#voice .fa {
  font-size: 30px;
  margin-left: 1px;
  transform: translateY(33%) translateX(74%);
  transition: scale ease;
}
#voice .fa:active {
  color: rgb(71, 179, 212);
  font-size: 30px;
  transform: translateY(33%) translateX(74%) scale(1.3);
}
